__init__.py
__init__.py/

!H:\Aganitha\bootcamp\PersistentQSQLite\persistent\__init__.py
!persistent\__init__.py


H:\Aganitha\bootcamp\apis\.venv/
.venv/
venv/
streams\basics\__pycache__/
__pycache__


PersistentQSQLite\consumer_err.log
PersistentQSQLite\consumer.log
PersistentQSQLite\queue.db
PersistentQSQLite\producer.log
.log/
PersistentQSQLite\venv
PersistentQSQLite\venvv
.venv/
venv/

PersistentQSQLite/consumer_err.log
venvv/
PersistentQSQLite/producer_err.log


PersistentQSQLite\supervisord.log
PersistentQSQLite/supervisord.log

PersistentQSQLite/producer.log

 PersistentQSQLite/consumer_err.log

apis\copy_streamlit_applications
PersistentQSQLite/consumer_err.log
.log

producer_err.log

PersistentQSQLite/consumer.log
PersistentQSQLite/producer.log

